<%= simple_form_for [@course, @assignment] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-4">
        <%= f.input :name %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <%= f.input :due_date, as: :string do %>
          <div class="input-group date" id="datetimepicker1">
            <%= f.input_field :due_date, as: :string, value: localize(f.object.due_date || Time.zone.now, format: '%m/%d/%Y %I:%M %p') %>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success' %>
  </div>
  <br>
<% end %>


<script>
  var ready = function() {
    $('#datetimepicker1').datetimepicker();
  };

  $(document).ready(ready);
  $(document).on('page:load', ready);
</script>
