<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Login', new_user_session_path %></li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'Users', users_path %></li>
<% end %>
<% if user_signed_in? #and is a teacher, but I'm not sure how to add that part...%>
	<li><%= link_to 'Submissions', submissions_path %></li>
	<li><%= link_to 'Partition', partition_path %></li>
	<li><%= link_to 'Create TA', create_ta_path %></li>
<% end %>
<% if user_signed_in? #and is a TA, but I'm not sure how to check for that either...%>
	<li><%= link_to 'Partition', partition_path %></li>
	<li><%= link_to 'Submissions', submissions_path %></li>
<% end %>
<% if user_signed_in? #and is just a student %>
	<li><%= link_to 'Submissions', submissions_path %></li>
<% end %>
