<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Home', root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <%= render 'layouts/navigation_links' %>
      </ul>

      <div class="navbar-right navbar-form">
        <% if user_signed_in? %>
          <%= button_to 'Log out', destroy_user_session_path, method: 'delete', class: 'btn btn-success'%>
        <% else %>
          <%= form_tag(new_user_session_path, method: 'POST') do %>
            <div class="form-group">
              <%= text_field_tag 'user[pawprint]', nil, placeholder:'Pawprint', class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= password_field_tag 'user[password]', nil, placeholder:'Password', class: 'form-control' %>
            </div>
            <%= submit_tag "Sign in", class:'btn btn-success'%>
          <% end %>
        <% end %>
      </div>


    </div>
  </div>
</nav>
