<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Login', new_user_session_path %></li>
<% end %>
<% if user_signed_in? %>
  <% if current_user.instructor? %>
          <li><%= link_to 'Submissions', submissions_path %></li>
          <li><%= link_to 'Partition', 'TODO' %></li>
          <li><%= link_to 'Create TA', 'TODO' %></li>
  <% end %>
  <% if current_user.ta? %>
          <li><%= link_to 'Partition', 'TODO' %></li>
  <% end %>
  <% if current_user.student? %>
          <li><%= link_to 'Submissions', submissions_path %></li>
  <% end %>
<% end %>
