<%= simple_form_for(@submission) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :receipt %>
    <%= f.association :user %>
    <%= f.input :ip_address %>
    <%= f.input :filename %>
    <%= f.input :content_type %>
    <%= f.input :file_contents %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
