<%= simple_form_for(@submission, html: {class: 'form-vertical', multipart: true}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input 'course_name', label: 'Course Name:', required: true %>
    <%= f.input 'assignment_name', label: 'Assignment Name:', required: true %>
    <%= f.input 'section_name', label: 'Section Name:', required: true %>
    <%= f.input :file, as: :file, label: 'File to submit:', input_html: {multiple: true} %>
  </div>

  <p class="help-block">
    Submit your assignment here!
  </p>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success' %>
  </div>
<% end %>
