<%= simple_form_for(@submission, html: {multipart: true}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :receipt %>
    <%= f.input :ip_address %>
    <%= f.input :content_type %>
    <%= f.input :file, as: :file, label: 'Your assignment to be submitted.' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
