<h1>Your Previous Submissions</h1>

<div class="panel panel-default">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Course</th>
        <th>Assignment</th>
        <th>Number of Files</th>
        <th>Receipt Token</th>
        <th>Download</th>
      </tr>
    </thead>

    <tbody>
      <% @submissions.each do |submission| %>
        <tr>
          <td><%= submission.course.name %></td>
          <td><%= submission.assignment.name %></td>
          <td><%= submission.submission_files.count %></td>
          <td><%= submission.receipt %></td>
          <td><%= link_to 'Download', download_submission_path(submission) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'New Submission', new_submission_path, class: 'btn btn-success' %>
