<p id="notice"><%= notice %></p>

<p>
  <strong>Receipt:</strong>
  <%= @submission.receipt %>
</p>

<p>
  <strong>User:</strong>
  <%= @submission.user %>
</p>

<p>
  <strong>Ip address:</strong>
  <%= @submission.ip_address %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @submission.filename %>
</p>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
